body {
	background: lightgrey;
}


.home {
    [data-cid] {
        height: 75px;
        width: 100%;
        clear: both;
        display: block;
        .icon {
            width: 75px;
            height: 100%;
            padding-top: 12px;
            float: left;
            display: block;
        }
        h4 {
            width: auto;
            height: 100%;
            vertical-align: top;
            display: inline-block;
            margin-left: 1em;
        }
    }
}

